{% macro label(label, id) %}
    <label for="{{id}}" class="col-sm-2 control-label">{{label}}</label>
{% endmacro %}

{% macro input_text(label, name, type, placeholder) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <input data-bind="value: {{name}}" type="{{type|default('text')}}" class="form-control" id="{{name}}">
    </div>
  </div>
{% endmacro %}

{% macro markdown(label, name, rows) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <textarea data-bind="markdownEditor: {{name}}" id="{{name}}" class="form-control" rows="{{rows|default(10)}}"></textarea>
    </div>
  </div> 
{% endmacro %}

{% macro submit(label, binding) %}
  {% import _self as form %}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button data-bind="click: {{binding|raw}}" type="button" class="btn btn-primary">{{label}}</button>
    </div>
  </div> 
{% endmacro %}

{% macro datetime(label, name) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
     <input type="datetime" data-bind="datePicker: {{name}}" id="{{name}}" class="form-control">
    </div>
  </div> 
{% endmacro %}