{% macro label(label, id) %}
    <label for="{{id}}" class="col-sm-2 control-label">{{label}}</label>
{% endmacro %}

{% macro input_text(label, name, type, placeholder) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <input data-bind="value: {{name}}" type="{{type|default('text')}}" class="form-control" id="{{name}}">
    </div>
  </div>
{% endmacro %}

{% macro integer(label, name) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <input data-bind="value: {{name}}" type="integer" class="form-control" id="{{name}}">
    </div>
  </div>
{% endmacro %}

{% macro markdown(label, name, rows) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <textarea data-bind="markdownEditor: {{name}}" id="{{name}}" class="form-control" rows="{{rows|default(10)}}"></textarea>
    </div>
  </div> 
{% endmacro %}

{% macro markdown_widget(label, name, rows) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <button data-bind="click: openMarkdownEditor" type="button" class="btn btn-primary">Im neuen Fenster bearbeiten</button>
    </div>
  </div>
{% endmacro %}

{% macro submit(label, binding) %}
  {% import _self as form %}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button data-bind="click: {{binding|raw}}, disable: isProcessing" type="button" class="btn btn-primary"><i data-bind="visible: isProcessing" class="fa fa-spinner fa-spin"></i> {{label}}</button>
    </div>
  </div> 
{% endmacro %}

{% macro datetime(label, name) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
     <input type="datetime" data-bind="datePicker: {{name}}" id="{{name}}" class="form-control">
    </div>
  </div> 
{% endmacro %}

{% macro select(label, name, options) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <select 
         class="selectpicker" data-live-search="true" data-icon-base="fa" 
         data-bind="optionsAfterRender: $parent.afterOptionsHTML, options: {{options}}, optionsCaption: 'bitte auswählen', optionsText: 'label', optionsValue: 'value', value: {{name}}">
      >
      </select>
    </div>
  </div>
{% endmacro %}


{% macro multiple_files_chooser(label, name) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div style="position: relative" class="col-sm-10" data-bind='component: { name: "multiple-files-chooser", params: { name: "{{name}}", model: $data } }'>
    </div>
  </div>
{% endmacro %}

{% macro selection_delete_Button(label) %}
  <button type="button" data-bind="click: removeInSelection, disable: isProcessing" class="btn btn-danger"><i data-bind="visible: isProcessing" class="fa fa-spinner fa-spin"></i> {{label|default('Ausgewählte Einträge löschen')}} <i class="fa fa-exclamation-triangle"></i></button>
{% endmacro %}

{% macro single_entity_chooser(label, name, settings) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <select 
         class="selectpicker form-control" 
         data-none-selected-text="nichts ausgewählt"
         {% if settings.options is defined %}
         {{ settings.options }}
         {% endif %}
         data-bind="
           options: {{name}}Options,
           optionsCaption: 'bitte auswählen',
           optionsText: '{{settings.labelProperty|default('title')}}',
           optionsValue: '{{settings.valueProperty|default('id')}}',
           value: {{name}}OptionValue
        ">
      </select>
    </div>
  </div>
{% endmacro %}

{% macro multiple_entity_chooser(label, name, settings) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10">
      <select 
         class="selectpicker form-control" 
         data-icon-base="fontawesome"
         data-tick-icon="fa fa-check"
         data-none-selected-text="nichts ausgewählt"
         data-selected-text-format="count"
         {% if settings.search is defined %}
         data-live-search="true"
         data-live-search-normalize="true"
         {% endif %}
         {% if settings.options is defined %}
         {{ settings.options }}
         {% endif %}
         data-bind="
           options: {{name}}Options,
           optionsText: '{{settings.labelProperty|default('title')}}',
           optionsValue: '{{settings.valueProperty|default('id')}}',
           selectedOptions: {{name}}OptionValue
      " multiple>
      </select>
    </div>
  </div>
{% endmacro %}

{% macro content_manager(label, name, settings) %}
  {% import _self as form %}

  <div class="form-group">
    {{ form.label(label, name) }}
    <div class="col-sm-10" data-bind='component: { name: "content-manager", params: { name: "{{name}}", model: $data } }'>
    </div>
  </div>
{% endmacro %}
