<div class="panel-group" id="drop-contents" role="tablist" aria-multiselectable="true">

  {% for label, group in sidebar.groups %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="drop-contents-group-{{loop.index}}-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#drop-contents" href="#drop-contents-group-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne">
          {{label}}
        </a>
      </h4>
    </div>
    <div id="drop-contents-group-{{loop.index}}" class="panel-collapse collapse {% if loop.index == 2 %}in{%endif%}" role="tabpanel" aria-labelledby="drop-contents-group-{{loop.index}}-heading">
      <ul class="list-group">
      {% for link in group %}
        <li class="list-group-item"><a href="#" data-bind='cmsTab: {{link.tab|json_encode}}'>{{link.label}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

</div>