<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="spinner"><i data-bind="style: { visibility: $root.spinning() ? 'visible' : 'hidden' }" class="fa fa-2x fa-spinner fa-spin"></i></div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="visible-xs">{{cms.xsTitle|default(cms.title)}}</span><span class="hidden-xs">{{cms.title|default("Mini-Tapir-CMS")}}</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav visible-xs">
        {% for label, group in sidebar.groups %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" {% if loop.index == sidebar.activeGroup %} data-open-on-navbar-expand="true"{%endif%}>{{label}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for link in group %}
            {% include 'WebforgeCmsBundle:default:navbar-link.html.twig' with { extraBind: ', cmsTabCloseNav: true' } %}
          {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="username" data-toggle="dropdown">{{user.displayName}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Abmelden</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <a style="display: inline-block; margin-top: 8px;" target="site" href="{{cms.site.url}}">{{cms.site.title}}</a>
      </form>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
